@import url('https://fonts.googleapis.com/css?family=Montserrat|Slabo+27px');

nav, .nav-wrapper {
    background-color: #616161;
}

#ars {
    background-color: #FF4E00;
    color: #ffffff;
    border-radius: 150px;
    padding: 5px 5px 12px 5px;
}

a:hover {
    text-decoration: none !important;
    color: #03a9f4;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    border-bottom: 3px solid #03a9f4;
    box-shadow: 3px 3px 9px;
    padding: 3px;
}

h4, h5 {
    border-bottom: 1.5px solid #03a9f4;
    /* box-shadow: 2px 2px 6px #000; */
    padding: 3px;
    font-family: 'Slabo 27px', serif;
    color: #3f51b5;
}

p {
    color: #514A4A !important;
    font-family: 'Montserrat', sans-serif;
}

.panel-primary>.panel-heading {
    background-color:rgba(68, 108, 128, 0.22);
    padding: 3px !important;
    border-color: #449D44;
    border-radius: 0px;
}

a.title {
    color: #000;
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
    font-weight: 550;
}

a.title:hover {
    color: #039be5;
}

.btn-success {
    margin-top: -3px;
    float: right;
}

.modal {
    background: none;
}

.panel-primary {
    margin: 5px 0px;
    position: relative;
    border-color: #1E23A1;
    border-radius: 0px;
    box-shadow: 1px 1px 3px;
    margin-bottom: 25px;
}

.panel-body {
    padding: 3px !important;
}

#noteModal {
    box-shadow: none !important;
}
a.brand-logo {
    margin-left: 40px;
}
@media (max-width: 767px) {
    a.brand-logo {
        margin-left: 0px;
    }
}
body {
    background-color: #446c80;
    font-family: Roboto;
}
.panel.panel-primary {
    font-family: Roboto;
    border-radius: 5px;
}
a.title {
    font-family: Roboto;
}
.panel-body {
    font-family: Roboto;
}
p {
    font-family: Roboto;
}
button.btn-sm.btn-success {
    font-style: italic;
}
.progress {
    position: relative;
    height: 13px;
    display: block;
    width: 100%;
    background-color: #acece6;
    border-radius: 11px;
    margin: .5rem 0 1rem 0;
    overflow: hidden;
}
.jumbotron {
    margin-top: 15px;
}


